<div class="main-container">
  <div class="movie-card-container">
    <div class="main-column">
      <div class="column-placeholder"></div>
      <div class="sorting-container">
        <div class="card flex justify-content-center">
          <p-dropdown [options]="sortingOptions" [(ngModel)]="sortOption" optionLabel="label" placeholder="Sort by" (ngModelChange)="sortMovies()"></p-dropdown>
        </div>
      </div>
    </div>

    <div class="second-column">
      <ng-container *ngFor="let movie of movies">
        <div class="movie-card">
          <p-card [header]="movie.title" [style]="{ margin: '10px' }">
            <ng-template pTemplate="header">
              <img alt="{{ movie.title }}" src="{{ movie.image }}" (click)="goToMovieDetails(movie.id)" />
            </ng-template>
            <ng-template pTemplate="footer">
              <app-watchlist [isAddedToWatchlist]="isAddedToWatchlist(movie)" (addToWatchlist)="addToWatchlist(movie)"></app-watchlist>
            </ng-template>
          </p-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>
