
.movie-card-container {
  display: flex;
}

.main-column {
  flex: 1;
}

.second-column {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.movie-card img {
  width: 100%;
  height: 300px;
}

.p-card {
  height: 100%;
}


.footer-button {
  margin-right: 5px;
  font-size: 12px;
}

::ng-deep .p-card .p-card-title {
  font-size: 16px !important;
}

::ng-deep .p-card .p-card-content {
  padding: 0px !important;
}

::ng-deep .p-button {
  font-size: 12px !important;

}

::ng-deep .p-card .p-card-title {
  height: 50px !important;
}

.sorting-container {
  margin-top: 10%;
  margin-left: 10%;
}

::ng-deep .p-dropdown {
  width: 70%
}
