<div class="main-container">
  <div class="movie-card-container">
    <div class="movie-card">
      <p-card [header]="movie?.title" [style]="{ margin: '10px' }">
        <ng-template pTemplate="header">
          <div *ngIf="videoId">
            <iframe
              width="50%"
              height="375"
              [src]="getEmbedUrl()"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </ng-template>
        <ng-template pTemplate="body">
          <div class="image-and-description">
            <div class="first-column"><img alt="{{ movie?.title }}" src="{{ movie?.image }}" /></div>
            <div class="second-column"><p>{{ movie?.description }}</p></div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="footer-content">
            <ng-container *ngIf="movie">
              <app-watchlist [isAddedToWatchlist]="isAddedToWatchlist(movie)" (addToWatchlist)="addToWatchlist(movie)"></app-watchlist>
            </ng-container>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
