.image-and-description {
  display: flex;
  align-items: center;
  width: 100%;
}

.image-and-description img {
  height: 100px;
  width: 70px
}

.image-and-description div {
  padding: 0 10px;
}

.image-and-description .first-column {
  flex: .1;
}

.image-and-description .second-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
